*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    padding: 20px;
    background: #f8f9fa;
}

h1{
    color: #006400;
    text-align: center;
}

h2{
    color: darkcyan;
    padding: 20px;
    text-align: center;
}

select, button{
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

#result{
    margin-top: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    font-size: 18px;
}